/******************* it-configurator *******************/



.it-configurator {
  margin-top: 50px;
}
.it-configurator__step-outer-wrap {
  overflow: hidden;
}

.it-configurator__inner-wrapper {
  border: 1px solid #ededed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  padding-left: 20px;
  padding-top: 25px;
  position: relative;
  display: flex;
  flex-wrap: wrap;

}

.it-configurator__half {
  width: 100%;
}

.it-configurator__half--left {
  max-width: 700px;
  padding-bottom: 40px;
  overflow: hidden;
}

.it-configurator__half--right {
  max-width: 420px;
  flex-basis: 320px;
  padding-left: 40px;
  flex-grow: 1;
}


.it-configurator__inner-wrapper:before {
	content: '';
	display: block;
	position: absolute;
	top: -2px;
	left: 0;
	width: 100%;
	height: 3px;
  background-color: #ffffff;
}

.it-configurator__title {
  font-size: 36px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 20px;
}

.it-configurator__subtitle {
  font-size: 14px;
  color: #333333;
  margin-bottom: 20px;
  padding-left: 45px;
  position: relative;
}

.it-configurator__subtitle:before {
	content: '';
	display: block;
	position: absolute;
	top: 5px;
	left: 0;
	width: 16px;
	height: 8px;
	background: url("../img/krechet_configurator/base/arrow.png") no-repeat center;
}


.it-configurator__step-wrap {
  display: flex ;
  margin: 0;
  padding: 0 0 10px;
  margin: 0 -10px 12px;
  overflow: hidden;
  border-bottom: 1px solid #DFDFDF;

}

.it-configurator__step-item {
  list-style-type: none;
  padding-left: 0;
  max-width: 400px;
  flex-grow: 1;
  margin: 0 10px;
  width: 100%;
}

.it-configurator__step-link.it-btn {
  text-decoration: none;
  background-color: #ffffff;
  cursor: auto;
}

.it-configurator__step-number {
  transition: 0.3s ease all;
  color: rgba(51, 51, 51, 0.5);
  margin-right: 10px;
  font-weight: 700;
}

.it-configurator__step-text {
  color: #000 ;
  transition: 0.3s ease all;
}

.it-configurator__step-link:hover,
.it-configurator__step-link:active,
.it-configurator__step-link:visited {
	text-decoration: none;
}


.it-configurator__step-item.active .it-configurator__step-link {
  background-color: $main-color;
}


.it-configurator__step-item.active .it-configurator__step-link .it-configurator__step-text {
  color: #ffffff;
}


.it-configurator__step-item.active .it-configurator__step-link .it-configurator__step-number {
  color: rgba(255, 255, 255, 0.5);
}





.it-configurator__inner-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px 20px;
  overflow: hidden;
  padding-bottom: 50px;
  border-bottom: 1px solid #DFDFDF;
}

.it-configurator__inner-half {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  max-width: 340px;
  width: 100%;
  flex-basis: 300px;
  flex-grow: 1;
  width: 100%;
}





.it-slider__img-wrap {
  overflow: hidden;
  max-height: 206px;
}

.it-slider__img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.it-slider__bottom {
  display: flex;
  //flex-wrap: wrap;
  margin: 0 -10px;
  overflow: hidden;
}

.it-slider__img-wrap--min {
  max-width: 160px;
  margin: 0 10px;
  max-height: 104px;
  width: 100%;
}

.it-slider__top {
  margin-bottom: 10px;
}

.it-configurator__character-title {
  margin-bottom: 15px;
  margin-top: -3px;
}

.it-configurator__character-title-name,
.it-configurator__character-title-text {
  color: #333333;
  font-size: 15px;
  display: block;
  font-weight: 700;
}

.it-configurator__character-title-name {
  text-transform: uppercase;
}

.it-configurator__list {
  margin: 0 0 30px;
  padding: 0 0 20px;
  width: 100%;
  max-width: 256px;
  border-bottom: 1px solid rgba(223, 223, 223, 1);
}

.it-configurator__list-item {
  list-style-type: none;
  padding-left: 0;
  font-size: 14px;
  color: #333333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10px;
}

.it-configurator__list-item:before {
	content: '';
	display: block;
	position: absolute;
	bottom: 2px;
	left: 0;
	width: 98%;
	height: 1px;
    background: url("../img/krechet_configurator/base/dots.svg") repeat center;
}

.it-configurator__list-item-key,
.it-configurator__list-item-value {
  background-color: #ffffff;
  z-index: 2;
  position: relative;
}

.it-configurator__list-item-key {
  padding-right: 5px;
}

.it-configurator__list-item-value {
  min-width: 73px;
  padding-left: 5px;

}

.it-configurator__price {
  margin-bottom: 15px;
}

.it-configurator__price-text {
  font-size: 14px;
  color: #333333;
}

.it-configurator__price-number {
  font-size: 24px;
  font-weight: 800;
}

.it-configurator__price-comment {
  color: #0980B7;
  font-size: 14px;
}

.it-configurator__inner-bottom-facts {
  padding-left: 40px;
  position: relative;
  color: #333333;
  line-height: 1.7;
  font-size: 14px;
}

.it-configurator__inner-bottom-facts:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
    background: url("../img/krechet_configurator/bottom/icon-facts.svg") repeat center;
}

.it--hide {
  display: none !important;
}

.it-configurator__inner-top {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid #F7F8F7;
  padding: 30px 0;
  position: relative;
  z-index: 4;
}

.it-configurator__checkbox-list {
  margin: 10px 0;
  padding-left: 0;
}

.it-configurator__checkbox-item {
  list-style-type: none;
  padding: 10px 0;
}

.it-configurator__checkbox-item.active {
  background-color: #E8E8E8;

}

.it-configurator__inner-center {
  padding-top: 25px;
  padding-left: 45px;
  padding-bottom: 30px;
  background-color: #F7F8F7;
}

.it-configurator__prepayment-title {
  font-size: 15px;
  color: #333333;
  font-weight: 800;
  margin-bottom: 20px;
}

















/******************* checkbox *******************/

.it-checkbox-wrap {
  width: 100%;
  text-align: center;
}

.it-checkbox {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
  text-align: left;
  width: 100%;
  position: relative;
  margin: 0;

}

.it-checkbox--indent {
  padding-left: 45px;
}

.it-checkbox__default {
  width: .1px;
  height: .1px;
  position: absolute;
  top: 0;
  left: 0;
  border: 0 !important;
  outline: 0 !important;
  background-color: transparent;
}

.it-checkbox__pseudo,
.it-checkbox__pseudo:before {
  display: block;
  width: 20px;
  height: 20px;
}

.it-checkbox__pseudo {
  background-color: #fff;
  border: 1px solid #D8D7D7;
  margin-right: 20px;
  position: relative;
  left: 0;
  top: 0;
  line-height: 17px;
}

.it-checkbox__pseudo:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  display: inline-block;
  top: 1px;
  left: 1px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -ms-transform: scale(.4);
  -webkit-transform: scale(.4);
  transform: scale(.4);
  -webkit-transition: all .225s ease-in-out;
  -o-transition: all .225s ease-in-out;
  transition: all .225s ease-in-out;
  cursor: pointer;
}

.it-checkbox__default:checked + .it-checkbox__pseudo:before {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background-color: $main-color;

}

//.it-checkbox__default:checked + .it-checkbox__pseudo {
//
//}

.it-checkbox__text {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.38);
  font-weight: 700;
  -ms-flex-preferred-size: 80px;
  flex-basis: 75px;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: #333333;
  text-transform: uppercase;

}


/******************* checkbox-prepayment *******************/

.it-configurator__prepayment-checkbox-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.it-configurator__prepayment-checkbox-item {
  list-style-type: none;
  padding-right: 10px;

}

.it-checkbox-prepayment {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  text-align: left;
  position: relative;
  margin: 0;


}

.it-checkbox-prepayment__default {
  width: .1px;
  height: .1px;
  position: absolute;
  top: 0;
  left: 0;
  border: 0 !important;
  outline: 0 !important;
  background-color: transparent;
}

.it-checkbox-prepayment__pseudo,
.it-checkbox-prepayment__pseudo:before {
  display: block;
  width: 18px;
  height: 18px;
}

.it-checkbox-prepayment__pseudo {
  border: 1px solid rgba(51, 51, 51, 0.8);
  //margin-right: 8px;
  position: relative;
  left: 0;
  top: 0;
  line-height: 18px;
  border-radius: 50%;
  flex-basis: 18px;
}

.it-checkbox-prepayment__pseudo:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  display: inline-block;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -ms-transform: scale(.4);
  -webkit-transform: scale(.4);
  transform: scale(.4);
  -webkit-transition: all .225s ease-in-out;
  -o-transition: all .225s ease-in-out;
  transition: all .225s ease-in-out;
  cursor: pointer;
  border-radius: 50%;
}

.it-checkbox-prepayment__default:checked + .it-checkbox-prepayment__pseudo:before {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background-color: $main-color;

}

.it-checkbox-prepayment__default:checked + .it-checkbox-prepayment__pseudo {
 border-color: $main-color;
}

.it-checkbox-prepayment__text {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.38);
  -ms-flex-preferred-size: 80px;
  flex-grow: 1;
  color: #333333;
  text-transform: uppercase;
  padding-left: 8px;

}


