section#it-configurator.it-configurator.it-all--indent
	.it-container.it-container--size-full
		.it-configurator__wrap
			.it-configurator__title-wrap
				.it-configurator__title(data-calculation-title='data-calculation-title')
					|	Калькулятор вездехода
				.it-configurator__subtitle
					|	Рассчитайте стоимость изготовления вездехода по вашим параметрам. Мы сможем выполнить
					br
					|	разработку, предназначенную для эксплуатации в любых условиях.
			.it-configurator__step-outer-wrap
				ul.it-configurator__step-wrap
					li.it-configurator__step-item.active(data-it-step="1")
						div.it-configurator__step-link.it-btn
							span.it-configurator__step-number  1
							span.it-configurator__step-text
								| Выберите модель
					li.it-configurator__step-item(data-it-step="2")
						div.it-configurator__step-link.it-btn
							span.it-configurator__step-number  2
							span.it-configurator__step-text
								| Добавьте оборудование
					li.it-configurator__step-item(data-it-step="3")
						div.it-configurator__step-link.it-btn
							span.it-configurator__step-number  3
							span.it-configurator__step-text
								| Отправьте заявку
			.it-configurator__inner-wrapper
				.it-configurator__half.it-configurator__half--left
					.it-configurator__inner-wrap.active(data-it-conf-part="2" data-it-main-content)
						.it-configurator__inner-half.it-configurator__inner-half--left(data-conf-half-left)
							.it-slider
								.it-slider__top.slider-for
									.it-slider__img-wrap
										img(src="static/img/krechet_configurator/slider/1.jpg", alt='' ).it-slider__img
									.it-slider__img-wrap
										img(src="static/img/krechet_configurator/slider/2.jpg", alt='').it-slider__img
									.it-slider__img-wrap
										img(src="static/img/krechet_configurator/slider/3.jpg", alt='').it-slider__img
								.it-slider__bottom.slider-nav
									.it-slider__img-wrap.it-slider__img-wrap--min
										img(src="static/img/krechet_configurator/slider/1.jpg", alt='' ).it-slider__img
									.it-slider__img-wrap.it-slider__img-wrap--min
										img(src="static/img/krechet_configurator/slider/2.jpg", alt='' ).it-slider__img
									.it-slider__img-wrap.it-slider__img-wrap--min
										img(src="static/img/krechet_configurator/slider/3.jpg", alt='' ).it-slider__img
						.it-configurator__inner-half.it-configurator__inner-half--right
							.it-configurator__character.active(data-it-conf-part="1")
								.it-configurator__character-title
									span.it-configurator__character-title-text
										|    Основные характеристики
									span.it-configurator__character-title-name
										| КРЕЧЕТ Z 320-91:
								ul.it-configurator__list
									li.it-configurator__list-item
										span.it-configurator__list-item-key
											|    Мощность
										span.it-configurator__list-item-value
											|    100 л.с.
									li.it-configurator__list-item
										span.it-configurator__list-item-key
											|    Масса
										span.it-configurator__list-item-value
											|    2675 кг.
									li.it-configurator__list-item
										span.it-configurator__list-item-key
											|    Грузоподъемность
										span.it-configurator__list-item-value
											|    1325 кг.
									li.it-configurator__list-item
										span.it-configurator__list-item-key
											|    Макс. объем топлива
										span.it-configurator__list-item-value
											|    200 л.
									li.it-configurator__list-item
										span.it-configurator__list-item-key
											|    Пассажирских мест
										span.it-configurator__list-item-value
											|    3
								.it-configurator__price
									span.it-configurator__price-text.it-configurator__price-text--indent-1
										| от
									span.it-configurator__price-number
										|    5 900 000
									span.it-configurator__price-text.it-configurator__price-text--indent-2
										| руб
								.it-configurator__price-comment
									|    Стоимость без дополнительного оборудования
							.it-configurator__character.it-configurator__character--options(data-it-conf-part="2")
									.it-configurator__character-title
										span.it-configurator__character-title-text
											|    Добавьте оборудование для модели
										span.it-configurator__character-title-name
											| КРЕЧЕТ Z 320-91:
									.it-configurator__outer-wrapper(data-scroll-wrap)
										.it-configurator__checkbox-list-wrap
											ul.it-configurator__checkbox-list.it-configurator__checkbox-list--options
												li.it-configurator__checkbox-item
													.it-checkbox-wrap
														label.it-checkbox.it-checkbox--indent
															input.it-checkbox__default.first(type='checkbox', name='model')(data-checkbox-item="0")
															span.it-checkbox__pseudo
															span.it-checkbox__text    Диск с шиной 1300х700-21" Арктиктранс
												li.it-configurator__checkbox-item
													.it-checkbox-wrap
														label.it-checkbox.it-checkbox--indent
															input.it-checkbox__default(type='checkbox', name='model')(data-checkbox-item="1")
															span.it-checkbox__pseudo
															span.it-checkbox__text    Диск с шиной 1300х600-21" Трэкол Вездеход
												li.it-configurator__checkbox-item
													.it-checkbox-wrap
														label.it-checkbox.it-checkbox--indent
															input.it-checkbox__default(type='checkbox', name='model')(data-checkbox-item="2")
															span.it-checkbox__pseudo
															span.it-checkbox__text    Диск с шиной "Avtoros" 700/55- 2ILT"
												li.it-configurator__checkbox-item
													.it-checkbox-wrap
														label.it-checkbox.it-checkbox--indent
															input.it-checkbox__default(type='checkbox', name='model')(data-checkbox-item="3")
															span.it-checkbox__pseudo
															span.it-checkbox__text    Диск с шиной "Avtoros" 700/55- 2ILT"
												li.it-configurator__checkbox-item
													.it-checkbox-wrap
														label.it-checkbox.it-checkbox--indent
															input.it-checkbox__default(type='checkbox', name='model')(data-checkbox-item="4")
															span.it-checkbox__pseudo
															span.it-checkbox__text    Диск с шиной "Avtoros" 700/55- 2ILT"
												li.it-configurator__checkbox-item
													.it-checkbox-wrap
														label.it-checkbox.it-checkbox--indent
															input.it-checkbox__default(type='checkbox', name='model')(data-checkbox-item="5")
															span.it-checkbox__pseudo
															span.it-checkbox__text    Диск с шиной "Avtoros" 700/55- 2ILT"
												li.it-configurator__checkbox-item
													.it-checkbox-wrap
														label.it-checkbox.it-checkbox--indent
															input.it-checkbox__default(type='checkbox', name='model')(data-checkbox-item="6")
															span.it-checkbox__pseudo
															span.it-checkbox__text    Диск с шиной "Avtoros" 700/55- 2ILT"
												li.it-configurator__checkbox-item
													.it-checkbox-wrap
														label.it-checkbox.it-checkbox--indent
															input.it-checkbox__default(type='checkbox', name='model')(data-checkbox-item="7")
															span.it-checkbox__pseudo
															span.it-checkbox__text    Диск с шиной "Avtoros" 700/55- 2ILT"
									a(href="#").it-configurator__character__link
										|	выбрать из полного списка
						.it-configurator__inner-main-bottom
							.it-configurator__inner-bottom-facts.active(data-it-conf-part="1")
								b
									|Интересные факты:
								|	мощность мотора вездехода «КРЕЧЕТ» сопоставима с мощностью танка БТ-7. Вездеход имеет клиренс 600 мм и углы въезда/съезда по 52°
							.it-configurator__inner-print(data-it-conf-part="2")
								a.it-configurator__inner-print-link(href="#")
									| Вывести подбор параметров в pdf
					form.it-configurator__form(data-it-conf-part="3" method="post" action="")
						.it-configurator__form-wrap
							.it-configurator__form-title
								| Форма отправки
							.it-configurator__form-subtitle
								|	Время изготовления вездехода от 45 рабочих дней
							.it-configurator__form-input-wrap(data-it-form-wrap)
								.it-configurator__form-half
									.it-configurator__form-input-title
										|	E-mail:
									input.it-configurator__form-input(type='email', name='email', checked)
								.it-configurator__form-half
									.it-configurator__form-input-title
										|	Телефон:
									input.it-configurator__form-input(type='phone', name='phone', checked placeholder="+7 (___) ___-__-__")
								.it-configurator__form-half
									.it-configurator__form-input-title
										|	Имя:
									input.it-configurator__form-input(type='text', name='name', checked placeholder="Имя Фамилия")
							.it-configurator__form-half.it-configurator__form-half--size-full
								.it-configurator__form-input-title
									|    Комментарий к заказу:
								textarea.it-configurator__form-input.it-configurator__form-input--textare(type='text', name='comment', placeholder="")
							.it-configurator__form-bottom
								.it-configurator__form-bottom-half.it-configurator__form-bottom-half--left
									.it-configurator__form-half.it-configurator__form-half--size-1
										.it-configurator__form-input-title
											|    Населенный пункт:
										.it-configurator__form-city-wrap
											.it-configurator__form-input-city(tabindex='1')
												input#opt1.it-configurator__form-selectopt(name='test', type='radio', checked='')
												label.it-configurator__form-label(for='opt1') Москва
												input#opt2.it-configurator__form-selectopt(name='test', type='radio')
												label.it-configurator__form-label(for='opt2') Тюмень
												input#opt3.it-configurator__form-selectopt(name='test', type='radio')
												label.it-configurator__form-label(for='opt3') Челябинск
											.it-configurator__form-input-change(data-it-city-change-btn)
												|	Изменить
								.it-configurator__form-bottom-half.it-configurator__form-bottom-half--right
									label.it-checkbox.it-configurator__form-checkbox
											input.it-checkbox__default(type='checkbox', name='comment')
											span.it-checkbox__pseudo
											span.it-checkbox__text
												| Согласен на обработку
												a(href="#").it-configurator__form-checkbox-link
													|    персональных данных
							.it-configurator__form-buttons
								.it-configurator__form-btn.it-btn.it-btn--border
									|	Отправить
				.it-configurator__half.it-configurator__half--right(data-conf-half-right)
					.it-configurator__inner-top.active(data-it-conf-part="1" data-model-block)
						ul.it-configurator__checkbox-list
							li.it-configurator__checkbox-item.active(data-it-models)
								.it-checkbox-wrap
									label.it-checkbox.it-checkbox--indent
										input.it-checkbox__default(type='radio', name='model', checked)
										span.it-checkbox__pseudo
										span.it-checkbox__text    КРЕЧЕТ Z 210-91
							li.it-configurator__checkbox-item(data-it-models)
								.it-checkbox-wrap
									label.it-checkbox.it-checkbox--indent
										input.it-checkbox__default(type='radio', name='model')
										span.it-checkbox__pseudo
										span.it-checkbox__text    КРЕЧЕТ Z 320-91
							li.it-configurator__checkbox-item(data-it-models)
								.it-checkbox-wrap
									label.it-checkbox.it-checkbox--indent
										input.it-checkbox__default(type='radio', name='model')
										span.it-checkbox__pseudo
										span.it-checkbox__text    КРЕЧЕТ Z 310-91
					.it-configurator__inner-top.it-configurator__inner-top--mod-2(data-it-conf-part="2")
						.it-configurator__price-inner
							.it-configurator__price-inner-top
								span.it-configurator__price-inner-number
									|	6 300 000
								span.it-configurator__price-inner-text.it-configurator__price-inner-text--indent-2
									|	руб.
							.it-configurator__price-inner-center
								|	КРЕЧЕТ Z 320-91
							.it-configurator__price-inner-bottom
								|    с учетом дополнительного оборудования
							a(href="#").it-configurator__inner-print-link--mobile
					.it-configurator__inner-top.it-configurator__inner-top--mod-3(data-it-conf-part="3" data-it-sum)
						.it-configurator__sum
								ul.it-configurator__sum-list
									li.it-configurator__sum-list-item
										span.it-configurator__sum-list-item-key
											|    КРЕЧЕТ Z 320-91
										span.it-configurator__sum-list-item-value
											|    6 300 000 руб.
									li.it-configurator__sum-list-item
										span.it-configurator__sum-list-item-key
											|    Скидка:
										span.it-configurator__sum-list-item-value
											|    500 000 руб.
									li.it-configurator__sum-list-item
										span.it-configurator__sum-list-item-key
											|    Доставка:
										span.it-configurator__sum-list-item-value
											|    0 руб.
									li.it-configurator__sum-list-item
										span.it-configurator__sum-list-item-key.it-configurator__sum-list-item-key--font-mobile
											|    Итого:
										span.it-configurator__sum-list-item-value
											|   5 800 000 руб.
						.it-configurator__inner-top-part
							.it-configurator__comment
								|    Гарантийный срок эксплуатации 5000 км пробега, 250 мото-часов или 6 месяцев эксплуатации
					.it-configurator__inner-center.active(data-it-conf-part="1")
						.it-configurator__prepayment
							.it-configurator__prepayment-title
								|	Выберите размер предоплаты
							ul.it-configurator__prepayment-checkbox-list
								li.it-configurator__prepayment-checkbox-item.active
										label.it-checkbox-prepayment
											input.it-checkbox-prepayment__default(type='radio', name='prepayment', checked='checked', value="100")
											span.it-checkbox-prepayment__pseudo
											span.it-checkbox-prepayment__text    100%
								li.it-configurator__prepayment-checkbox-item
									label.it-checkbox-prepayment
											input.it-checkbox-prepayment__default(type='radio', name='prepayment' value="70")
											span.it-checkbox-prepayment__pseudo
											span.it-checkbox-prepayment__text    70%
								li.it-configurator__prepayment-checkbox-item
										label.it-checkbox-prepayment
											input.it-checkbox-prepayment__default(type='radio', name='prepayment' value="50")
											span.it-checkbox-prepayment__pseudo
											span.it-checkbox-prepayment__text    50%
								li.it-configurator__prepayment-checkbox-item
										label.it-checkbox-prepayment
											input.it-checkbox-prepayment__default(type='radio', name='prepayment' value="0")
											span.it-checkbox-prepayment__pseudo
											span.it-checkbox-prepayment__text    0%
					.it-configurator__inner-center.it-configurator__inner-center--mod-2(data-it-conf-part="2")
						.it-configurator__color
							.it-configurator__color-title
								|    Можем изготовить вездеход любой расцветки
							.it-configurator__color-input-wrap
								input.it-configurator__color-input(type='text', name='color' value="" placeholder="Введите название цвета")
							.it-configurator__color-comment
								|    * Цвет снегоболотоходов на выбор заказчика.
								br
								| Простые цвета без доплаты
					.it-configurator__inner-bottom
						.it-configurator__move-wrap
							.it-configurator__move-top
								.it-configurator__move-half.it-configurator__move-half--arrow(data-it-move-arrow="prev")
									img(src="static/img/krechet_configurator/move/arrow-next.svg", alt='').it-configurator__move-arrow.it-configurator__move-arrow-prev
								.it-configurator__move-half.it-configurator__move-half--size.active(data-it-dot="1")
									.it-configurator__move-dot
								.it-configurator__move-half.it-configurator__move-half--size(data-it-dot="2")
									.it-configurator__move-dot
								.it-configurator__move-half.it-configurator__move-half--size(data-it-dot="3")
									.it-configurator__move-dot
								.it-configurator__move-half.it-configurator__move-half--arrow.active(data-it-move-arrow="next")
									img(src="static/img/krechet_configurator/move/arrow-next.svg", alt='').it-configurator__move-arrow.it-configurator__move-arrow-next
							.it-configurator__move-bottom
								.it-configurator__move-buttons
									button.it-btn.it-btn--transparent.it-configurator__btn(type='button', data-it-btn='next').active
										| Перейти к следующему шагу
									button.it-btn.it-btn--transparent.it-configurator__btn(type='button', data-it-btn='prev')
										| Вернуться назад