section.it-configurator-options__modal
	.it-container
		.it-configurator-options__wrap
			.it-configurator-options__title-wrap
				.it-configurator-options__title-half.it-configurator-options__title-half--left
					.it-configurator-options__title
						|	ПОЛНЫЙ СПИСОК
					.it-configurator-options__subtitle
						|	ДОПОЛНИТЕЛЬНЫХ ПАРАМЕТРОВ
				.it-configurator-options__title-half.it-configurator-options__title-half--right
					.it-configurator-options__subtitle.it-configurator-options__subtitle--font
						|	ДЛЯ МОДЕЛИ «КРЕЧЕТ» Z-320 91
			ul.it-configurator-options__list
				li.it-configurator-options__item
					ul.it-configurator-options__inner-list
						li.it-configurator-options__inner-item
								label.it-checkbox-options
									input.it-checkbox-options__default.second(type='checkbox', name='options')(data-checkbox-item="0")
									span.it-checkbox-options__pseudo
									span.it-checkbox-options__text    Диск c шиной 1300x700-21" (Арктиктранс)
						li.it-configurator-options__inner-item
								label.it-checkbox-options
									input.it-checkbox-options__default(type='checkbox', name='options')(data-checkbox-item="1")
									span.it-checkbox-options__pseudo
									span.it-checkbox-options__text    Удлинитель подушки переднего сиденья с откидной подножкой в сборе
						li.it-configurator-options__inner-item
								label.it-checkbox-options
									input.it-checkbox-options__default(type='checkbox', name='options')(data-checkbox-item="2")
									span.it-checkbox-options__pseudo
									span.it-checkbox-options__text    Подогреватель двигателя автономный WEBASTO Thermo Top Е Diesel в сборе
						li.it-configurator-options__inner-item
								label.it-checkbox-options
									input.it-checkbox-options__default(type='checkbox', name='options')(data-checkbox-item="3")
									span.it-checkbox-options__pseudo
									span.it-checkbox-options__text    Диск с шиной 1300x600-21" (Трэкол Вездеход,)
						li.it-configurator-options__inner-item
								label.it-checkbox-options
									input.it-checkbox-options__default(type='checkbox', name='options')(data-checkbox-item="4")
									span.it-checkbox-options__pseudo
									span.it-checkbox-options__text    Сиденье откидное на колесную арку в сборе
						li.it-configurator-options__inner-item
								label.it-checkbox-options
									input.it-checkbox-options__default(type='checkbox', name='options')(data-checkbox-item="5")
									span.it-checkbox-options__pseudo
									span.it-checkbox-options__text    Подогреватель двигателя автономный WEBASTO Thermo Top Е Benzin в сборе
						li.it-configurator-options__inner-item
								label.it-checkbox-options
									input.it-checkbox-options__default(type='checkbox', name='options')(data-checkbox-item="6")
									span.it-checkbox-options__pseudo
									span.it-checkbox-options__text    Диск с шиной "Avtoros" 700/55- 21LT"
						li.it-configurator-options__inner-item
								label.it-checkbox-options
									input.it-checkbox-options__default(type='checkbox', name='options')(data-checkbox-item="7")
									span.it-checkbox-options__pseudo
									span.it-checkbox-options__text    Комплект установки откидной подножки под люк
						li.it-configurator-options__inner-item
								label.it-checkbox-options
									input.it-checkbox-options__default(type='checkbox', name='options')(data-checkbox-item="8")
									span.it-checkbox-options__pseudo
									span.it-checkbox-options__text    Лебедка задняя DV-6 std
						li.it-configurator-options__inner-item
								label.it-checkbox-options
									input.it-checkbox-options__default(type='checkbox', name='options')(data-checkbox-item="9")
									span.it-checkbox-options__pseudo
									span.it-checkbox-options__text    Установка розетки задняя 12V
						li.it-configurator-options__inner-item
								label.it-checkbox-options
									input.it-checkbox-options__default(type='checkbox', name='options')
									span.it-checkbox-options__pseudo
									span.it-checkbox-options__text    Диск c шиной 1300x700-21" (Арктиктранс)
						li.it-configurator-options__inner-item
								label.it-checkbox-options
									input.it-checkbox-options__default(type='checkbox', name='options')
									span.it-checkbox-options__pseudo
									span.it-checkbox-options__text    Диск c шиной 1300x700-21" (Арктиктранс)
				li.it-configurator-options__item
					ul.it-configurator-options__inner-list
						li.it-configurator-options__inner-item
							label.it-checkbox-options
								input.it-checkbox-options__default(type='checkbox', name='options')
								span.it-checkbox-options__pseudo
								span.it-checkbox-options__text    Диск c шиной 1300x700-21" (Арктиктранс)
						li.it-configurator-options__inner-item
							label.it-checkbox-options
								input.it-checkbox-options__default(type='checkbox', name='options')
								span.it-checkbox-options__pseudo
								span.it-checkbox-options__text    Диск c шиной 1300x700-21" (Арктиктранс)
						li.it-configurator-options__inner-item
							label.it-checkbox-options
								input.it-checkbox-options__default(type='checkbox', name='options')
								span.it-checkbox-options__pseudo
								span.it-checkbox-options__text    Диск c шиной 1300x700-21" (Арктиктранс)
						li.it-configurator-options__inner-item
							label.it-checkbox-options
								input.it-checkbox-options__default(type='checkbox', name='options')
								span.it-checkbox-options__pseudo
								span.it-checkbox-options__text    Диск c шиной 1300x700-21" (Арктиктранс)
						li.it-configurator-options__inner-item
							label.it-checkbox-options
								input.it-checkbox-options__default(type='checkbox', name='options')
								span.it-checkbox-options__pseudo
								span.it-checkbox-options__text    Диск c шиной 1300x700-21" (Арктиктранс)
						li.it-configurator-options__inner-item
							label.it-checkbox-options
								input.it-checkbox-options__default(type='checkbox', name='options')
								span.it-checkbox-options__pseudo
								span.it-checkbox-options__text    Диск c шиной 1300x700-21" (Арктиктранс)
						li.it-configurator-options__inner-item
							label.it-checkbox-options
								input.it-checkbox-options__default(type='checkbox', name='options')
								span.it-checkbox-options__pseudo
								span.it-checkbox-options__text    Диск c шиной 1300x700-21" (Арктиктранс)
						li.it-configurator-options__inner-item
							label.it-checkbox-options
								input.it-checkbox-options__default(type='checkbox', name='options')
								span.it-checkbox-options__pseudo
								span.it-checkbox-options__text    Диск c шиной 1300x700-21" (Арктиктранс)
						li.it-configurator-options__inner-item
							label.it-checkbox-options
								input.it-checkbox-options__default(type='checkbox', name='options')
								span.it-checkbox-options__pseudo
								span.it-checkbox-options__text    Диск c шиной 1300x700-21" (Арктиктранс)
						li.it-configurator-options__inner-item
							label.it-checkbox-options
								input.it-checkbox-options__default(type='checkbox', name='options')
								span.it-checkbox-options__pseudo
								span.it-checkbox-options__text    Диск c шиной 1300x700-21" (Арктиктранс)
						li.it-configurator-options__inner-item
							label.it-checkbox-options
								input.it-checkbox-options__default(type='checkbox', name='options')
								span.it-checkbox-options__pseudo
								span.it-checkbox-options__text    Диск c шиной 1300x700-21" (Арктиктранс)
						li.it-configurator-options__inner-item
							label.it-checkbox-options
								input.it-checkbox-options__default(type='checkbox', name='options')
								span.it-checkbox-options__pseudo
								span.it-checkbox-options__text    Диск c шиной 1300x700-21" (Арктиктранс)